<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<style type="text/css">
table, th, td {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
}
</style>
</head>
<body>
	<div>
		<form method="POST" enctype="multipart/form-data" action="/details">
			<table>
				<tr>
					<td></td>
					<td><input type="radio" th:each="file : ${files}"
						th:text="${file.getName()}" th:name="fileToUploadPath"
						th:value="${file.getAbsolutePath()}" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="text" name="separator" value=";" /> <input
						type="submit" value="Upload" /></td>
				</tr>
			</table>
		</form>
	</div>
	<div th:if="${uploadedFile != null && uploadedFile.size() > 0}">
		<h2>Uploaded File :</h2>
		<form method="post" action="/export/out.csv">
			<input type="hidden" th:name="uploadedFilePath" th:value="${uploadedFilePath}">
			<input type="submit" value="Extract" />
			<table class="bordred">
				<tr>
					<td th:each="cell : ${uploadedFile[0]}">
						<div th:if=${detectedHeader.containsValue(cellStat.index)}>
							<select th:name=${cellStat.index}>
								<option th:text="Not_detected" th:value="-1"
									th:selected="${detectedHeader.get(header) == cellStat.index}">
								</option>
								<option th:each="header : ${headerList}" th:text="${header}"
									th:value=${header}
									th:selected="${detectedHeader.get(header) == cellStat.index}">
								</option>
							</select>
						</div>
						<div th:if=${!detectedHeader.containsValue(cellStat.index)}>
							<select th:name=${cellStat.index}>
								<option th:text="Not_detected" th:value="-1" selected>
								</option>
								<option th:each="header : ${headerList}" th:text="${header}"
									th:value=${header}></option>
							</select>
						</div>
					</td>
				</tr>
				<tr th:each="line : ${uploadedFile}">
					<td th:each="cell : ${line}"><span th:text="${cell}">cell</span>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>